$text-color :#01D277;
$high:#01D277;
$medium:#4902A3;
$low:#D1225B;
$border-radius:8px;

h1, h2{
  font-family: 'Montserrat', sans-serif;
}
.h2{
  font-size: 1.25rem;
}
.h1{
  font-size: 1.75rem;
  line-height: 2rem;
}
hr{
  background: #0F303D;
}
body {
  font-family: 'Roboto', sans-serif;
  color:white;
  background: #081b23;
    .header{
      height:10rem;
      width: 100%;
      &.home{
        background: radial-gradient(82.98% 213.08% at 53.46% -21.35%,rgba(19, 25, 29, 0.46) 0,rgba(0, 0, 0, 0) 100%),
        url('../asset/images/rectangle.png') no-repeat left bottom,
        url('../asset/images/rectangle.png') no-repeat 1% -100%,
        url('../asset/images/rectangle.png') no-repeat 1% -200%,
        url('../asset/images/rectangle.png') no-repeat 99% bottom,
        url('../asset/images/rectangle.png') no-repeat 99% -100%,
        url('../asset/images/rectangle.png') no-repeat 99% -200%,
        url('../asset//images/logo.png') no-repeat center center;
      }
      &.detail{
        background-repeat: no-repeat;
        background-position: center;
        @media screen and (min-width:700px) {
          background-size: auto;
        }
        @media screen and (max-width:700px) {
          background-size: 100% 10rem;
        }

      }
      .input {
        color:$text-color;
      }
      .icon{
        color:$text-color;
      }
    }
    .detail-image {
     width: 9rem;
     position: absolute;
     top:4rem;
     -webkit-box-shadow: 9px 10px 21px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 9px 10px 21px 0px rgba(0,0,0,0.75);
      box-shadow: 9px 10px 21px 0px rgba(0,0,0,0.75);
      border-radius: $border-radius;
      & > img {
        border-radius: inherit;;
      }
    }
    .movie-title {
      display: flex;
      flex-direction: column;
      margin-left: 10rem;
    }
    .thumbnails{
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
      align-content: flex-start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      justify-content: space-between;
    }
    .tile-image{
      cursor: pointer;
      -webkit-order: 0;
      -ms-flex-order: 0;
      order: 0;
      -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      
      img{
        border-radius: $border-radius;
        width: 10rem;
        height: 15rem;
      }
      .subtitle{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 10rem;
        color:#E6F7FF;
        font-size: smaller;
        margin-bottom: 0;

      }
      .subtitle-date{
        color:#A1D1E6;
        font-size: smaller;
      }
      .badge{
        width: 2rem;
        height: 1rem;
        z-index: 2;
        border-radius: $border-radius;
        overflow: hidden;
        color: white;
        font-size: x-small;
        text-align: center;
        top: 0.5rem;
        left: 0.5rem;
        position: absolute;
        font-weight: bold;
        &.top{
          background-color: $high;
        }
        &.bad{
          background-color: $low;
        }
        &.average{
          background-color: $medium;
        }
      }
    }
    .info{
      color:#B8D8E6;
    }
}